In this tutorial we demonstrate how to check equal size of two samples using the sign test. To do so, we provide an example in which we check if Heung-Min Son shoots with both feet the same number of times.

In [1]:
import pandas as pd
import numpy as np
import json
# plotting
import matplotlib.pyplot as plt
#opening data
import os
import pathlib
import warnings

pd.options.mode.chained_assignment = None
warnings.filterwarnings('ignore')

Loading players data

In [2]:
folder_path = '/Users/pratikhotchandani/Downloads/Github/DataScience_Football/WyscoutData'
# Specify the name of the CSV file
file_name = 'players.json'

# Combine the folder path and file name to create the full file path
file_path = os.path.join(folder_path, file_name)

# Check if the file exists
if os.path.exists(file_path):
    # Open the CSV file
    with open(file_path, 'r') as file:
        json_data = json.load(file)
        df_players = pd.DataFrame(json_data)
else:
    print("File does not exist!")

df_players

,passportArea,weight,firstName,middleName,lastName,currentTeamId,birthDate,height,role,birthArea,wyId,foot,shortName,currentNationalTeamId
0,"{'name': 'Turkey', 'id': '792', 'alpha3code': ...",78,Harun,,Tekin,4502,1989-06-17,187,"{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...","{'name': 'Turkey', 'id': '792', 'alpha3code': ...",32777,right,H. Tekin,4687
1,"{'name': 'Senegal', 'id': '686', 'alpha3code':...",73,Malang,,Sarr,3775,1999-01-23,182,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'France', 'id': '250', 'alpha3code': ...",393228,left,M. Sarr,4423
2,"{'name': 'France', 'id': '250', 'alpha3code': ...",72,Over,,Mandanda,3772,1998-10-26,176,"{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...","{'name': 'France', 'id': '250', 'alpha3code': ...",393230,,O. Mandanda,null
3,"{'name': 'Senegal', 'id': '686', 'alpha3code':...",82,Alfred John Momar,,N'Diaye,683,1990-03-06,187,"{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...","{'name': 'France', 'id': '250', 'alpha3code': ...",32793,right,A. N'Diaye,19314
4,"{'name': 'France', 'id': '250', 'alpha3code': ...",84,Ibrahima,,Konat\u00e9,2975,1999-05-25,192,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'France', 'id': '250', 'alpha3code': ...",393247,right,I. Konat\u00e9,null
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3598,"{'name': 'Tunisia', 'id': 788, 'alpha3code': '...",72,Ali,,Ma\u00e2loul,16041,1990-01-01,175,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'Tunisia', 'id': 788, 'alpha3code': '...",120839,left,A. Ma\u00e2loul,null
3599,"{'name': 'Peru', 'id': 604, 'alpha3code': 'PER...",76,Carlos Alberto,,C\u00e1ceda Oyaguez,15591,1991-09-27,183,"{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...","{'name': 'Peru', 'id': 604, 'alpha3code': 'PER...",114736,right,C. C\u00e1ceda,null
3600,"{'name': 'Peru', 'id': 604, 'alpha3code': 'PER...",78,Miguel Gianpierre,,Araujo Blanco,12072,1994-10-24,179,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'Peru', 'id': 604, 'alpha3code': 'PER...",114908,right,M. Araujo,null
3601,"{'name': 'Morocco', 'id': 504, 'alpha3code': '...",70,Ahmed Reda,,Tagnaouti,16183,1996-04-05,182,"{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...","{'name': 'Morocco', 'id': 504, 'alpha3code': '...",285583,right,A. Tagnaouti,null
3602,"{'name': 'Panama', 'id': 591, 'alpha3code': 'P...",0,Ricardo,,Guardia Avila,62943,1997-02-04,0,"{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...","{'name': 'Panama', 'id': 591, 'alpha3code': 'P...",361536,left,R. Avila,null

We would also need data for events, for this we will consider only events_england file

In [3]:
england_event_file = "/Users/pratikhotchandani/Downloads/Github/DataScience_Football/WyscoutData/events/events_England.json"
with open(england_event_file) as f:
    data = json.load(f)
    df_england_events = pd.DataFrame(data)

df_england_events

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id
0,8,Simple pass,[{'id': 1801}],25413,"[{'y': 49, 'x': 49}, {'y': 78, 'x': 31}]",2499719,Pass,1609,1H,2.758649,85,177959171
1,8,High pass,[{'id': 1801}],370224,"[{'y': 78, 'x': 31}, {'y': 75, 'x': 51}]",2499719,Pass,1609,1H,4.946850,83,177959172
2,8,Head pass,[{'id': 1801}],3319,"[{'y': 75, 'x': 51}, {'y': 71, 'x': 35}]",2499719,Pass,1609,1H,6.542188,82,177959173
3,8,Head pass,[{'id': 1801}],120339,"[{'y': 71, 'x': 35}, {'y': 95, 'x': 41}]",2499719,Pass,1609,1H,8.143395,82,177959174
4,8,Simple pass,[{'id': 1801}],167145,"[{'y': 95, 'x': 41}, {'y': 88, 'x': 72}]",2499719,Pass,1609,1H,10.302366,85,177959175
...,...,...,...,...,...,...,...,...,...,...,...,...
643145,5,Ball out of the field,[],0,"[{'y': 32, 'x': 0}, {'y': 100, 'x': 100}]",2500098,Interruption,1623,2H,2796.732525,50,251596409
643146,3,Corner,"[{'id': 302}, {'id': 801}, {'id': 1801}]",70965,"[{'y': 100, 'x': 100}, {'y': 47, 'x': 88}]",2500098,Free Kick,1633,2H,2829.821084,30,251596232
643147,1,Air duel,"[{'id': 701}, {'id': 1802}]",7919,"[{'y': 53, 'x': 12}, {'y': 50, 'x': 14}]",2500098,Duel,1623,2H,2831.211419,10,251596410
643148,1,Air duel,"[{'id': 703}, {'id': 1801}]",8005,"[{'y': 47, 'x': 88}, {'y': 50, 'x': 86}]",2500098,Duel,1633,2H,2832.434399,10,251596234
643149,10,Shot,"[{'id': 403}, {'id': 201}, {'id': 1216}, {'id'...",8005,"[{'y': 50, 'x': 86}, {'y': 0, 'x': 0}]",2500098,Shot,1633,2H,2834.127168,100,251596236

### Preparing dataset

In [4]:
#take shots only
shots = df_england_events.loc[df_england_events['subEventName'] == 'Shot']
#look for son's id
son_id = df_players.loc[df_players["shortName"] == "Son Heung-Min"]["wyId"].iloc[0]
#get son's shot
son_shots = shots.loc[shots["playerId"] == son_id]

#left leg shots
lefty_shots = son_shots.loc[son_shots.apply (lambda x:{'id':401} in x.tags, axis = 1)]
#right leg shots
righty_shots = son_shots.loc[son_shots.apply (lambda x:{'id':402} in x.tags, axis = 1)]

#create list with ones for left foot shots and -1 for right foot shots
l = [1] * len(lefty_shots)
l.extend([-1] * len(righty_shots))

In [5]:
lefty_shots

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id
76728,10,Shot,"[{'id': 1901}, {'id': 401}, {'id': 201}, {'id'...",14911,"[{'y': 28, 'x': 93}, {'y': 0, 'x': 0}]",2499766,Shot,1624,1H,628.104553,100,187932110
77705,10,Shot,"[{'id': 401}, {'id': 1215}, {'id': 1802}]",14911,"[{'y': 59, 'x': 83}, {'y': 0, 'x': 0}]",2499766,Shot,1624,2H,926.843545,100,187933200
129577,10,Shot,"[{'id': 401}, {'id': 2101}, {'id': 1802}]",14911,"[{'y': 74, 'x': 73}, {'y': 0, 'x': 0}]",2499797,Shot,1624,2H,319.143277,100,196336924
145545,10,Shot,"[{'id': 101}, {'id': 401}, {'id': 201}, {'id':...",14911,"[{'y': 41, 'x': 89}, {'y': 0, 'x': 0}]",2499807,Shot,1624,1H,678.442730,100,198837059
161051,10,Shot,"[{'id': 401}, {'id': 2101}, {'id': 1802}]",14911,"[{'y': 63, 'x': 80}, {'y': 100, 'x': 100}]",2499816,Shot,1624,1H,982.194329,100,200611755
180463,10,Shot,"[{'id': 101}, {'id': 401}, {'id': 201}, {'id':...",14911,"[{'y': 50, 'x': 82}, {'y': 0, 'x': 0}]",2499827,Shot,1624,2H,1105.373959,100,203167724
186134,10,Shot,"[{'id': 401}, {'id': 2101}, {'id': 201}, {'id'...",14911,"[{'y': 48, 'x': 85}, {'y': 100, 'x': 100}]",2499830,Shot,1624,2H,2889.228227,100,206673807
214902,10,Shot,"[{'id': 401}, {'id': 1215}, {'id': 1802}]",14911,"[{'y': 69, 'x': 79}, {'y': 0, 'x': 0}]",2499847,Shot,1624,2H,941.127889,100,209063518
298304,10,Shot,"[{'id': 401}, {'id': 201}, {'id': 1215}, {'id'...",14911,"[{'y': 61, 'x': 79}, {'y': 100, 'x': 100}]",2499895,Shot,1624,2H,1119.050310,100,215109783
307446,10,Shot,"[{'id': 401}, {'id': 2101}, {'id': 1802}]",14911,"[{'y': 38, 'x': 87}, {'y': 100, 'x': 100}]",2499901,Shot,1624,1H,891.804955,100,217080978
350409,10,Shot,"[{'id': 401}, {'id': 1215}, {'id': 1802}]",14911,"[{'y': 15, 'x': 92}, {'y': 0, 'x': 0}]",2499926,Shot,1624,2H,156.293340,100,218869833
369704,10,Shot,"[{'id': 401}, {'id': 1215}, {'id': 1802}]",14911,"[{'y': 76, 'x': 83}, {'y': 100, 'x': 100}]",2499937,Shot,1624,2H,243.168655,100,218603520
384805,10,Shot,"[{'id': 401}, {'id': 201}, {'id': 1210}, {'id'...",14911,"[{'y': 34, 'x': 91}, {'y': 0, 'x': 0}]",2499946,Shot,1624,2H,119.468928,100,220642884
384995,10,Shot,"[{'id': 401}, {'id': 201}, {'id': 1219}, {'id'...",14911,"[{'y': 52, 'x': 82}, {'y': 0, 'x': 0}]",2499946,Shot,1624,2H,758.870497,100,220643074
385417,10,Shot,"[{'id': 401}, {'id': 2101}, {'id': 1802}]",14911,"[{'y': 36, 'x': 90}, {'y': 0, 'x': 0}]",2499946,Shot,1624,2H,2067.914323,100,220643491
421659,10,Shot,"[{'id': 401}, {'id': 1214}, {'id': 1802}]",14911,"[{'y': 32, 'x': 76}, {'y': 0, 'x': 0}]",2499968,Shot,1624,1H,1978.667952,100,225229427
433910,10,Shot,"[{'id': 401}, {'id': 201}, {'id': 1201}, {'id'...",14911,"[{'y': 36, 'x': 89}, {'y': 100, 'x': 100}]",2499975,Shot,1624,2H,715.276900,100,226138764
488232,10,Shot,"[{'id': 101}, {'id': 1901}, {'id': 401}, {'id'...",14911,"[{'y': 29, 'x': 91}, {'y': 0, 'x': 0}]",2500007,Shot,1624,1H,1609.549765,100,231973373
488384,10,Shot,"[{'id': 401}, {'id': 201}, {'id': 1211}, {'id'...",14911,"[{'y': 26, 'x': 94}, {'y': 0, 'x': 0}]",2500007,Shot,1624,1H,2162.913871,100,231973511
492369,10,Shot,"[{'id': 101}, {'id': 401}, {'id': 201}, {'id':...",14911,"[{'y': 70, 'x': 92}, {'y': 100, 'x': 100}]",2500009,Shot,1624,2H,1001.142592,100,233759036
492756,10,Shot,"[{'id': 101}, {'id': 401}, {'id': 201}, {'id':...",14911,"[{'y': 30, 'x': 93}, {'y': 100, 'x': 100}]",2500009,Shot,1624,2H,2488.637941,100,233759360
492767,10,Shot,"[{'id': 1901}, {'id': 401}, {'id': 201}, {'id'...",14911,"[{'y': 29, 'x': 92}, {'y': 100, 'x': 100}]",2500009,Shot,1624,2H,2574.388889,100,233759373
529231,10,Shot,"[{'id': 401}, {'id': 201}, {'id': 1204}, {'id'...",14911,"[{'y': 68, 'x': 79}, {'y': 100, 'x': 100}]",2500031,Shot,1624,2H,895.308743,100,239137670
529300,10,Shot,"[{'id': 401}, {'id': 201}, {'id': 1202}, {'id'...",14911,"[{'y': 58, 'x': 91}, {'y': 100, 'x': 100}]",2500031,Shot,1624,2H,1220.800655,100,239137700
553942,10,Shot,"[{'id': 401}, {'id': 2101}, {'id': 1802}]",14911,"[{'y': 26, 'x': 90}, {'y': 100, 'x': 100}]",2500046,Shot,1624,1H,642.008679,100,240758328
573280,10,Shot,"[{'id': 401}, {'id': 2101}, {'id': 1802}]",14911,"[{'y': 74, 'x': 79}, {'y': 0, 'x': 0}]",2500057,Shot,1624,2H,2371.454628,100,242913924
578970,10,Shot,"[{'id': 401}, {'id': 201}, {'id': 1205}, {'id'...",14911,"[{'y': 28, 'x': 91}, {'y': 100, 'x': 100}]",2500061,Shot,1624,1H,1345.409728,100,244031718

In [6]:
righty_shots

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id
44012,10,Shot,"[{'id': 402}, {'id': 1216}, {'id': 1802}]",14911,"[{'y': 25, 'x': 87}, {'y': 0, 'x': 0}]",2499746,Shot,1624,1H,41.025320,100,182699784
76860,10,Shot,"[{'id': 402}, {'id': 201}, {'id': 1216}, {'id'...",14911,"[{'y': 50, 'x': 79}, {'y': 0, 'x': 0}]",2499766,Shot,1624,1H,1048.499703,100,187932252
77625,10,Shot,"[{'id': 402}, {'id': 201}, {'id': 1201}, {'id'...",14911,"[{'y': 40, 'x': 81}, {'y': 0, 'x': 0}]",2499766,Shot,1624,2H,668.087020,100,187933112
77642,10,Shot,"[{'id': 402}, {'id': 201}, {'id': 1206}, {'id'...",14911,"[{'y': 65, 'x': 96}, {'y': 0, 'x': 0}]",2499766,Shot,1624,2H,731.945802,100,187933131
77747,10,Shot,"[{'id': 402}, {'id': 2101}, {'id': 1802}]",14911,"[{'y': 36, 'x': 89}, {'y': 0, 'x': 0}]",2499766,Shot,1624,2H,1137.249253,100,187933244
145627,10,Shot,"[{'id': 402}, {'id': 201}, {'id': 1221}, {'id'...",14911,"[{'y': 66, 'x': 91}, {'y': 0, 'x': 0}]",2499807,Shot,1624,1H,930.938861,100,198837146
145856,10,Shot,"[{'id': 402}, {'id': 201}, {'id': 1201}, {'id'...",14911,"[{'y': 40, 'x': 90}, {'y': 0, 'x': 0}]",2499807,Shot,1624,1H,1698.424871,100,198837405
180788,10,Shot,"[{'id': 1901}, {'id': 402}, {'id': 201}, {'id'...",14911,"[{'y': 34, 'x': 90}, {'y': 0, 'x': 0}]",2499827,Shot,1624,2H,2183.486079,100,203168058
185972,10,Shot,"[{'id': 402}, {'id': 1214}, {'id': 1802}]",14911,"[{'y': 36, 'x': 87}, {'y': 100, 'x': 100}]",2499830,Shot,1624,2H,2376.094103,100,206673711
214290,10,Shot,"[{'id': 402}, {'id': 201}, {'id': 1201}, {'id'...",14911,"[{'y': 29, 'x': 75}, {'y': 0, 'x': 0}]",2499847,Shot,1624,1H,1889.695452,100,209062877
214576,10,Shot,"[{'id': 402}, {'id': 2101}, {'id': 201}, {'id'...",14911,"[{'y': 26, 'x': 87}, {'y': 0, 'x': 0}]",2499847,Shot,1624,1H,2755.204690,100,209063186
214738,10,Shot,"[{'id': 402}, {'id': 2101}, {'id': 1802}]",14911,"[{'y': 33, 'x': 77}, {'y': 0, 'x': 0}]",2499847,Shot,1624,2H,419.204563,100,209063383
249135,10,Shot,"[{'id': 101}, {'id': 402}, {'id': 201}, {'id':...",14911,"[{'y': 40, 'x': 95}, {'y': 100, 'x': 100}]",2499867,Shot,1624,1H,1479.901707,100,211037988
265931,10,Shot,"[{'id': 402}, {'id': 201}, {'id': 1201}, {'id'...",14911,"[{'y': 36, 'x': 81}, {'y': 0, 'x': 0}]",2499877,Shot,1624,1H,691.096345,100,213057688
266170,10,Shot,"[{'id': 1901}, {'id': 402}, {'id': 201}, {'id'...",14911,"[{'y': 63, 'x': 87}, {'y': 0, 'x': 0}]",2499877,Shot,1624,1H,1442.340079,100,213057940
266472,10,Shot,"[{'id': 402}, {'id': 1216}, {'id': 1802}]",14911,"[{'y': 26, 'x': 88}, {'y': 0, 'x': 0}]",2499877,Shot,1624,1H,2432.084078,100,213058213
266720,10,Shot,"[{'id': 101}, {'id': 402}, {'id': 201}, {'id':...",14911,"[{'y': 58, 'x': 92}, {'y': 0, 'x': 0}]",2499877,Shot,1624,2H,441.981400,100,213058512
284864,10,Shot,"[{'id': 402}, {'id': 2101}, {'id': 201}, {'id'...",14911,"[{'y': 30, 'x': 88}, {'y': 0, 'x': 0}]",2499888,Shot,1624,1H,155.764021,100,214470481
285267,10,Shot,"[{'id': 402}, {'id': 201}, {'id': 1214}, {'id'...",14911,"[{'y': 59, 'x': 97}, {'y': 0, 'x': 0}]",2499888,Shot,1624,1H,1418.325651,100,214470852
286070,10,Shot,"[{'id': 402}, {'id': 2101}, {'id': 1802}]",14911,"[{'y': 66, 'x': 73}, {'y': 0, 'x': 0}]",2499888,Shot,1624,2H,1162.587838,100,214471518
307336,10,Shot,"[{'id': 402}, {'id': 201}, {'id': 1201}, {'id'...",14911,"[{'y': 42, 'x': 75}, {'y': 100, 'x': 100}]",2499901,Shot,1624,1H,463.604451,100,217080844
308261,10,Shot,"[{'id': 402}, {'id': 201}, {'id': 1214}, {'id'...",14911,"[{'y': 48, 'x': 89}, {'y': 100, 'x': 100}]",2499901,Shot,1624,2H,615.176598,100,217081714
333659,10,Shot,"[{'id': 101}, {'id': 1901}, {'id': 402}, {'id'...",14911,"[{'y': 65, 'x': 91}, {'y': 0, 'x': 0}]",2499916,Shot,1624,2H,340.578459,100,217484493
350648,10,Shot,"[{'id': 402}, {'id': 2101}, {'id': 1802}]",14911,"[{'y': 57, 'x': 89}, {'y': 0, 'x': 0}]",2499926,Shot,1624,2H,785.524944,100,218870127
351100,10,Shot,"[{'id': 101}, {'id': 402}, {'id': 201}, {'id':...",14911,"[{'y': 50, 'x': 69}, {'y': 0, 'x': 0}]",2499926,Shot,1624,2H,2292.068408,100,218870556
370119,10,Shot,"[{'id': 402}, {'id': 201}, {'id': 1210}, {'id'...",14911,"[{'y': 39, 'x': 94}, {'y': 100, 'x': 100}]",2499937,Shot,1624,2H,1945.344741,100,218603958
384357,10,Shot,"[{'id': 101}, {'id': 402}, {'id': 201}, {'id':...",14911,"[{'y': 51, 'x': 96}, {'y': 0, 'x': 0}]",2499946,Shot,1624,1H,1509.359651,100,220642400
385351,10,Shot,"[{'id': 402}, {'id': 201}, {'id': 1205}, {'id'...",14911,"[{'y': 35, 'x': 89}, {'y': 0, 'x': 0}]",2499946,Shot,1624,2H,1870.501519,100,220643466
385483,10,Shot,"[{'id': 402}, {'id': 201}, {'id': 1213}, {'id'...",14911,"[{'y': 32, 'x': 87}, {'y': 0, 'x': 0}]",2499946,Shot,1624,2H,2310.213052,100,220643591
421997,10,Shot,"[{'id': 402}, {'id': 1212}, {'id': 1802}]",14911,"[{'y': 50, 'x': 83}, {'y': 0, 'x': 0}]",2499968,Shot,1624,2H,233.041527,100,225229776
422387,10,Shot,"[{'id': 402}, {'id': 201}, {'id': 1206}, {'id'...",14911,"[{'y': 66, 'x': 90}, {'y': 0, 'x': 0}]",2499968,Shot,1624,2H,1414.967456,100,225230184
433158,10,Shot,"[{'id': 402}, {'id': 2101}, {'id': 1802}]",14911,"[{'y': 66, 'x': 90}, {'y': 100, 'x': 100}]",2499975,Shot,1624,1H,970.184918,100,226138309
453577,10,Shot,"[{'id': 402}, {'id': 201}, {'id': 1212}, {'id'...",14911,"[{'y': 19, 'x': 73}, {'y': 0, 'x': 0}]",2499987,Shot,1624,1H,1041.105027,100,227179614
454601,10,Shot,"[{'id': 1901}, {'id': 402}, {'id': 1216}, {'id...",14911,"[{'y': 45, 'x': 81}, {'y': 0, 'x': 0}]",2499987,Shot,1624,2H,1447.312886,100,227180694
488005,10,Shot,"[{'id': 402}, {'id': 2101}, {'id': 1802}]",14911,"[{'y': 26, 'x': 82}, {'y': 0, 'x': 0}]",2500007,Shot,1624,1H,905.569519,100,231973154
492420,10,Shot,"[{'id': 402}, {'id': 201}, {'id': 1201}, {'id'...",14911,"[{'y': 73, 'x': 92}, {'y': 100, 'x': 100}]",2500009,Shot,1624,2H,1182.589414,100,233759094
492512,10,Shot,"[{'id': 402}, {'id': 2101}, {'id': 1802}]",14911,"[{'y': 73, 'x': 92}, {'y': 100, 'x': 100}]",2500009,Shot,1624,2H,1544.082760,100,233759183
554115,10,Shot,"[{'id': 1901}, {'id': 402}, {'id': 201}, {'id'...",14911,"[{'y': 52, 'x': 89}, {'y': 100, 'x': 100}]",2500046,Shot,1624,1H,1375.758010,100,240758480
579497,10,Shot,"[{'id': 402}, {'id': 201}, {'id': 1202}, {'id'...",14911,"[{'y': 45, 'x': 88}, {'y': 100, 'x': 100}]",2500061,Shot,1624,1H,2935.835299,100,244032276
626591,10,Shot,"[{'id': 402}, {'id': 201}, {'id': 1201}, {'id'...",14911,"[{'y': 26, 'x': 85}, {'y': 100, 'x': 100}]",2500088,Shot,1624,2H,2563.621670,100,249307706

In [7]:
from statsmodels.stats.descriptivestats import sign_test
test = sign_test(l, mu0 = 0)
pvalue = test[1]

if pvalue < 0.05:
    print("P-value amounts to", str(pvalue)[:5], "- We reject null hypothesis - Heung-Min Son is not ambidextrous")
else:
    print("P-value amounts to", str(pvalue)[:5], " - We do not reject null hypothesis - Heung-Min Son is ambidextrous")

P-value amounts to 0.142  - We do not reject null hypothesis - Heung-Min Son is ambidextrous